*, *:before, *:after {
    box-sizing: border-box; 
    transition: all 0.3s ease-out;
    margin:0px
}

:root { 
    font-family: 'Quantico', serif; 
    background-color: rgb(218, 213, 213); 
    margin: 0px;
}
body {
    color: rgb(73, 72, 72);
    font-family: 'Quantico';
    padding-top: 50px;
}
nav {
    display: grid;
    grid-template-columns: auto auto ;
    height: 3.25rem;
    margin-bottom: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    border: 2px solid black;

    .nav-logo {
        display: grid;
        grid-template-columns: 50px 200px;
        font-size: 2rem;
    }
    ul{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: end;
        gap: 20px;
        margin-top: 0.5rem;
        margin-right: 0.25rem;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: darkmagenta;
                font-size: 20px;

                &:hover {
                    color: blue;
                }
            }
        }
    }

    img {
        width: 38px;
        height: 48px;
    }
}
.main-words {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    border: 2px solid black;
}
.form-field {
    margin: 0 auto;
    width: max-content;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: center;
    column-gap: 50px;
    border: 2px solid green;
    
    .form-section {
        line-height: 0.5rem;
        padding-bottom: 0.625rem;
        border: 2px solid red;
    }
    
}
div {
    a {
        text-decoration: none;
        color: darkmagenta;

        &:hover {
            color: blue;
        }
    }
}
